{% extends 'base.html' %}

{% block content %}
  <h2>Оформление заказа</h2>
  <form method="post">
    {% csrf_token %}
    <div>
      <label for="address">Адрес доставки:</label>
      <input type="text" id="address" name="address" required>
    </div>
    <div>
      <label for="delivery_date">Дата доставки (ГГГГ-ММ-ДД):</label>
      <input type="date" id="delivery_date" name="delivery_date">
    </div>
    <div>
      <label for="delivery_time">Время доставки (ЧЧ:ММ):</label>
      <input type="time" id="delivery_time" name="delivery_time">
    </div>
    <div>
      <label for="comment">Комментарий:</label>
      <textarea id="comment" name="comment"></textarea>
    </div>
    <button type="submit">Оформить заказ</button>
  </form>
{% endblock %}