{% extends "base.html" %}
{% block content %}
<div class="container-fluid">
    <h1 class="mb-4">Оформление заказа <i class="fas fa-truck"></i></h1>
    <form method="post" class="needs-validation" novalidate>
        {% csrf_token %}
        <div class="mb-3">
            <label for="address" class="form-label">Адрес доставки</label>
            <textarea name="address" id="address" class="form-control" rows="4" required></textarea>
            <div class="invalid-feedback">
                Пожалуйста, введите адрес доставки.
            </div>
        </div>
        <button type="submit" class="btn btn-primary"><i class="fas fa-paper-plane"></i> Подтвердить</button>
    </form>
</div>
{% endblock %}